<template>
  <section>
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            About
          </h1>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="content ">
        <p>CCryptr, Classical Cryptography Encryptor and Decryptor</p>
        <p>This program is an assignment for Cryptography [IK505] Class at Computer Science UPI.</p>
      </div>
    </div>
  </section>
</template>
