<template>
  <section>
    <section class="hero is-light is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Decryptor
          </h1>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="columns is-variable is-8">
        <div class="column is-one-quarter">
          <aside class="menu">
            <p class="menu-label">
              Classical Cryptography
            </p>
            <ul class="menu-list">
              <li><a class="is-active">Playfair</a></li>
            </ul>
          </aside>
        </div>
        <div class="column">
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Key</label>
                <div class="control">
                  <input class="input" type="text" placeholder="e.g Alex Smith" v-model="key">
                </div>
                <p class="help">Your secret key</p>
              </div>
              <div class="field">
                <label class="label">Message</label>
                <div class="control">
                  <textarea class="textarea" placeholder="e.g. Lorem ipsum dolor sit amet" v-model="message"></textarea>
                </div>
                <p class="help">Chiper text to be decrypted</p>
              </div>
            </div>
            <div class="column">
              <p class="label">Key Table</p>
              <p class="help">Generated key table</p>
              <table class="table is-bordered is-marginless">
                <tbody>
                  <tr>
                    <td>{{keyPhrase[0]}}</td>
                    <td>{{keyPhrase[1]}}</td>
                    <td>{{keyPhrase[2]}}</td>
                    <td>{{keyPhrase[3]}}</td>
                    <td>{{keyPhrase[4]}}</td>
                  </tr>
                  <tr>
                    <td>{{keyPhrase[5]}}</td>
                    <td>{{keyPhrase[6]}}</td>
                    <td>{{keyPhrase[7]}}</td>
                    <td>{{keyPhrase[8]}}</td>
                    <td>{{keyPhrase[9]}}</td>
                  </tr>
                  <tr>
                    <td>{{keyPhrase[10]}}</td>
                    <td>{{keyPhrase[11]}}</td>
                    <td>{{keyPhrase[12]}}</td>
                    <td>{{keyPhrase[13]}}</td>
                    <td>{{keyPhrase[14]}}</td>
                  </tr>
                  <tr>
                    <td>{{keyPhrase[15]}}</td>
                    <td>{{keyPhrase[16]}}</td>
                    <td>{{keyPhrase[17]}}</td>
                    <td>{{keyPhrase[18]}}</td>
                    <td>{{keyPhrase[19]}}</td>
                  </tr>
                  <tr>
                    <td>{{keyPhrase[20]}}</td>
                    <td>{{keyPhrase[21]}}</td>
                    <td>{{keyPhrase[22]}}</td>
                    <td>{{keyPhrase[23]}}</td>
                    <td>{{keyPhrase[24]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="columns" v-if="message">
            <div class="column">
              <p class="label">Plain Text:</p>
              <p>{{plainText}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import chunk from 'lodash.chunk';

function index(char, key) {
  const object = {};
  let row = 0;
  let col = 0;

  for (col = 0; col < key.length; col += 1) {
    for (row = 0; row < key.length; row += 1) {
      if (key[col][row] === char) {
        object.row = row;
        object.col = col;

        return object;
      }
    }
  }

  return object;
}

function shift(key, text1, text2, dir) {
  let output = '';
  const coord = {
    a: index(text1, key),
    b: index(text2, key),
  };

  if (coord.a.row === coord.b.row) {
    output += key[Math.abs((coord.a.col + dir + 5) % 5)][coord.a.row];
    output += key[Math.abs((coord.b.col + dir + 5) % 5)][coord.b.row];
  } else if (coord.a.col === coord.b.col) {
    output += key[coord.a.col][Math.abs((coord.a.row + dir + 5) % 5)];
    output += key[coord.b.col][Math.abs((coord.b.row + dir + 5) % 5)];
  } else {
    output += key[coord.a.col][coord.b.row];
    output += key[coord.b.col][coord.a.row];
  }

  return output;
}

export default {
  data() {
    return {
      key: '',
      message: '',
    };
  },
  computed: {
    keyPhrase() {
      return this.key
        .replace(/\s/g, '')
        .toUpperCase()
        .concat('ABCDEFGHIJKLMNOPRSTUVWXYZ')
        .split('')
        .filter((item, pos, self) => self.indexOf(item) === pos)
        .join('');
    },
    normalizedMessage() {
      const message = this.message
        .toUpperCase()
        .replace(/\s/g, '');

      if (message.length % 2 === 1) return message.concat('Z');
      return message;
    },
    digraphText() {
      return chunk(this.normalizedMessage.split(''), 2)
        .join(' ')
        .replace(/,/g, '');
    },
    plainText() {
      const key = chunk(this.keyPhrase.split(''), 5);
      const text = this.normalizedMessage;
      let output = '';
      let i = 0;
      let l = 0;

      for (i = 0, l = text.length; i < l; i += 2) {
        output += shift(key, text[i], text[i + 1], -1);
      }

      return output;
    },
  },
};
</script>

<style scoped>
.hero {
  margin-bottom: 3rem;
}
</style>
