<template>
  <section class="hero is-medium is-light is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Ccryptr
        </h1>
      </div>
    </div>
  </section>
</template>
