<template>
  <div id="app">
    <nav class="navbar is-transparent">
      <div class="container">
        <div class="navbar-brand">
          <router-link to="/" class="navbar-item">
            CCryptr
          </router-link>
          <div class="navbar-burger burger"
            :class="{'is-active': isActive}"
            @click="isActive = !isActive">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div class="navbar-menu"
          :class="{'is-active': isActive}"
          @click="isActive = !isActive">
          <div class="navbar-start">
            <router-link to="encryptor" class="navbar-item">
              Encryptor
            </router-link>
            <router-link to="decryptor" class="navbar-item">
              Decryptor
            </router-link>
          </div>

          <div class="navbar-end">
            <router-link to="about" class="navbar-item">
              About
            </router-link>
          </div>
        </div>
      </div>
    </nav>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app',
  data() {
    return { isActive: false };
  },
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
